bin/
unshared/
Unshared/
private/
Private/
.DS_STORE
homework/february_17/project/Homework 1 attempt 4/.idea/.idea.Homework 1 attempt 4/.idea/vcs.xml
homework/february_17/project/Homework 1 attempt 4/Homework 1 attempt 4/Program.cs
